<div cdkDropListGroup class="clr-row kan-board">
  <div *ngFor="let column of columns | async" class="clr-col card kan-col">
      <h1 class="card-header" style="display:flex;align-items:flex-end;justify-content:space-between">
        <span *ngIf="!column.titleInput && column.title !== ''" (click)="column.titleInput = true">{{column.title}}</span>
        <input style="width:50%;" *ngIf="column.titleInput || column.title === ''" type="text" [(ngModel)]="column.title" (blur)="column.titleInput = false" />
        <div>
        <button class="btn btn-icon btn-round" (click)="removeColumn(column)">
          <i class="fas fa-minus"></i>
        </button>
        <button class="btn btn-icon btn-round" (click)="addColumn()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      </h1>
      <div cdkDropList (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="column.cards" class="card-block drop-zone" [id]="column.id">
        <app-card cdkDrag *ngFor="let card of column.cards" [card]="card" (eventHandler)="handleCard($event)"></app-card>
      </div>
      <div class="card-footer">
        <div style="width:100%;justify-content:center;display:flex;">
          <button class="btn btn-icon btn-round" (click)="addCard(column)">
            <i class="fas fa-plus"></i>
          </button>
      </div>
      </div>
  </div>
</div>
